/* Navigation bar CSS */
nav {
  position: absolute;
  left: 0;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 6px 12px;
  backdrop-filter: blur(10px);
  background-color: rgba(189, 141, 83, 0.95);
  z-index: 10000;
}

nav ul {
  display: flex;
  align-items: center;
}

.logo {
  flex: 1;
  font-family: "Rye", serif;
  font-size: 25px;
  margin: 0 5px;
}

nav ul li {
  display: flex;
  line-height: 40px;
  margin: 0 15px;
  margin-top: 10px;
}

nav ul li a {
  position: relative;
  color: rgb(29, 30, 29);
  font-size: 22px;
  font-family: "Cormorant Garamond", serif;
  padding: 0 10px;
  line-height: normal;
  transition: color 0.4s ease-in-out;
  text-decoration: solid;
  border: 1px solid transparent;
  border-radius: 8px;
  text-align: center;
}

nav ul li a:hover {
  background-color: rgba(174, 128, 72, 0.95);
}

label #btn,
label #cancel {
  color: white;
  font-size: 30px;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

/* Responsive */
@media screen and (max-width: 768px) {
  nav ul {
    position: fixed;
    width: 100%;
    height: 400px;
    top: 40px;
    left: -100%;
    background-color: rgba(255, 248, 240, 0.95);
    flex-direction: column;
    align-items: center;
    transition: left 0.3s ease-in-out;
  }

  nav ul li {
    margin: 20px 0;
  }

  label #btn {
    display: block;
  }

  #check:checked ~ ul {
    left: 0;
  }

  nav .checkbtn {
    display: block;
    position: absolute;
    right: 1px;
  }

  #check ~ label .fa-times {
    display: none;
  }

  #check:checked ~ label .fa-times {
    display: block;
  }

  #check:checked ~ label .fa-bars {
    display: none;
  }

  #check:checked ~ label #btn {
    display: none;
  }

  #check:checked ~ label #cancel {
    display: block;
  }

  nav ul li a {
    font-size: 24px;
    padding: 10px 20px;
  }

  nav ul li a:hover {
    background-color: rgba(174, 128, 72, 0.95);
  }
}
